mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    p {
        color: var(--azul-30);
        font-weight: 300;
        font-size: 12px;
    }

    div {
        display: flex;
        gap: 2px;
    }
}