@use '@angular/material' as mat;

// Variáveis globais padrão (para fallback, pode remover se quiser deixar só nas classes)
:root {
  --azul: #0f1022;
  --azul-escuro: #0f1022;
  --azul-30: rgba(22, 24, 51, 0.3);
  --azul-menos-escuro: #161833;
  --azul-claro: #0082ed;
  --branco: #f2f2f2;
  --cinza-claro: #e8e8e8;
  --vermelho: #ef3a3a;
  --vermelho-hover: #ca3434;
  background-color: var(--branco) !important;
}

// Tema Light
body.light-theme {
  --azul: #0f1022;
  --azul-escuro: #0f1022;
  --azul-30: rgba(22, 24, 51, 0.3);
  --azul-menos-escuro: #161833;
  --azul-claro: #0082ed;
  --branco: #f2f2f2;
  --branco-30: rgba(242, 242, 242, 0.3);
  --cinza-claro: #e8e8e8;
  --vermelho: #ef3a3a;
  --vermelho-hover: #ca3434;
  background-color: var(--branco) !important;
  color: var(--azul-escuro) !important;
}

// Tema Dark
body.dark-theme {
  --azul: #000217;
  --azul-escuro: #0f1022;
  --azul-30: rgba(15, 2, 23, 0.3);
  --azul-menos-escuro: #161833;
  --azul-claro: #66aaff;
  --branco: #171729;
  --branco-30: rgba(23, 23, 41, 0.3);
  --cinza-claro: #181b31;
  --vermelho: #ff5555;
  --vermelho-hover: #ca3434;
  background-color: var(--azul-escuro) !important;
  color: var(--branco) !important;
}

// Base do layout, herdada pelo body
body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
}

html,
body {
  height: 100%;
}
